<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bar_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{244,77}</string>
                <key>spriteSourceSize</key>
                <string>{244,77}</string>
                <key>textureRect</key>
                <string>{{420,70},{244,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>battery_bar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,16}</string>
                <key>spriteSourceSize</key>
                <string>{34,16}</string>
                <key>textureRect</key>
                <string>{{0,0},{34,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>battery_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,26}</string>
                <key>spriteSourceSize</key>
                <string>{47,26}</string>
                <key>textureRect</key>
                <string>{{34,0},{47,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_chat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,82}</string>
                <key>spriteSourceSize</key>
                <string>{82,82}</string>
                <key>textureRect</key>
                <string>{{664,70},{82,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_invite.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{368,88}</string>
                <key>spriteSourceSize</key>
                <string>{368,88}</string>
                <key>textureRect</key>
                <string>{{0,152},{368,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_more.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,82}</string>
                <key>spriteSourceSize</key>
                <string>{82,82}</string>
                <key>textureRect</key>
                <string>{{828,70},{82,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_sonud.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,82}</string>
                <key>spriteSourceSize</key>
                <string>{82,82}</string>
                <key>textureRect</key>
                <string>{{746,70},{82,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_start.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{263,88}</string>
                <key>spriteSourceSize</key>
                <string>{263,88}</string>
                <key>textureRect</key>
                <string>{{368,152},{263,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_start_d.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{263,88}</string>
                <key>spriteSourceSize</key>
                <string>{263,88}</string>
                <key>textureRect</key>
                <string>{{631,152},{263,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ddz.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{281,57}</string>
                <key>spriteSourceSize</key>
                <string>{281,57}</string>
                <key>textureRect</key>
                <string>{{131,0},{281,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{419,68}</string>
                <key>spriteSourceSize</key>
                <string>{419,68}</string>
                <key>textureRect</key>
                <string>{{412,0},{419,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>location_img.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,48}</string>
                <key>spriteSourceSize</key>
                <string>{50,48}</string>
                <key>textureRect</key>
                <string>{{81,0},{50,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>more_backToLobby.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,70}</string>
                <key>spriteSourceSize</key>
                <string>{140,70}</string>
                <key>textureRect</key>
                <string>{{280,70},{140,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>more_dissolve.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,70}</string>
                <key>spriteSourceSize</key>
                <string>{140,70}</string>
                <key>textureRect</key>
                <string>{{831,0},{140,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>more_list.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,70}</string>
                <key>spriteSourceSize</key>
                <string>{140,70}</string>
                <key>textureRect</key>
                <string>{{140,70},{140,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>more_setting.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,70}</string>
                <key>spriteSourceSize</key>
                <string>{140,70}</string>
                <key>textureRect</key>
                <string>{{0,70},{140,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ddzGameRes.png</string>
            <key>size</key>
            <string>{971,240}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:50591e4ae8d1fbf8e42e7c112683d0a1:8b17fd6e4fe469dadbfbfcb71000972d:8bbf384bdf6e9f306d28c29869b91944$</string>
            <key>textureFileName</key>
            <string>ddzGameRes.png</string>
        </dict>
    </dict>
</plist>
