<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>addroom_btn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{319,247}</string>
                <key>spriteSourceSize</key>
                <string>{319,247}</string>
                <key>textureRect</key>
                <string>{{1368,87},{319,247}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1280,720}</string>
                <key>spriteSourceSize</key>
                <string>{1280,720}</string>
                <key>textureRect</key>
                <string>{{439,334},{1280,720}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bottom_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1280,96}</string>
                <key>spriteSourceSize</key>
                <string>{1280,96}</string>
                <key>textureRect</key>
                <string>{{88,87},{1280,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_auth.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,83}</string>
                <key>spriteSourceSize</key>
                <string>{90,83}</string>
                <key>textureRect</key>
                <string>{{1212,0},{90,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>create_btn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{319,310}</string>
                <key>spriteSourceSize</key>
                <string>{319,310}</string>
                <key>textureRect</key>
                <string>{{0,334},{319,310}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fkbg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{247,35}</string>
                <key>spriteSourceSize</key>
                <string>{247,35}</string>
                <key>textureRect</key>
                <string>{{753,0},{247,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fkcz.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,56}</string>
                <key>spriteSourceSize</key>
                <string>{56,56}</string>
                <key>textureRect</key>
                <string>{{1000,0},{56,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gb.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,23}</string>
                <key>spriteSourceSize</key>
                <string>{29,23}</string>
                <key>textureRect</key>
                <string>{{0,0},{29,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gbbg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{724,35}</string>
                <key>spriteSourceSize</key>
                <string>{724,35}</string>
                <key>textureRect</key>
                <string>{{29,0},{724,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gnan1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,87}</string>
                <key>spriteSourceSize</key>
                <string>{72,87}</string>
                <key>textureRect</key>
                <string>{{1518,0},{72,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gnan2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,87}</string>
                <key>spriteSourceSize</key>
                <string>{72,87}</string>
                <key>textureRect</key>
                <string>{{1590,0},{72,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gnan3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,87}</string>
                <key>spriteSourceSize</key>
                <string>{72,87}</string>
                <key>textureRect</key>
                <string>{{1302,0},{72,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gnan5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,87}</string>
                <key>spriteSourceSize</key>
                <string>{72,87}</string>
                <key>textureRect</key>
                <string>{{1374,0},{72,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gnan6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,87}</string>
                <key>spriteSourceSize</key>
                <string>{72,87}</string>
                <key>textureRect</key>
                <string>{{1446,0},{72,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gnan7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,87}</string>
                <key>spriteSourceSize</key>
                <string>{79,87}</string>
                <key>textureRect</key>
                <string>{{1662,0},{79,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,78}</string>
                <key>spriteSourceSize</key>
                <string>{78,78}</string>
                <key>textureRect</key>
                <string>{{1134,0},{78,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>headframe.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,88}</string>
                <key>spriteSourceSize</key>
                <string>{88,88}</string>
                <key>textureRect</key>
                <string>{{0,87},{88,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>headmask.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,78}</string>
                <key>spriteSourceSize</key>
                <string>{78,78}</string>
                <key>textureRect</key>
                <string>{{1056,0},{78,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>left_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,513}</string>
                <key>spriteSourceSize</key>
                <string>{120,513}</string>
                <key>textureRect</key>
                <string>{{319,334},{120,513}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>hallRes.png</string>
            <key>size</key>
            <string>{1741,1054}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cd701b8e368247071ed6e3873c913ec6:397e11ec5e6fd26b9cf5165da98829b2:c230efd0bda90914c51c0e9166c8e784$</string>
            <key>textureFileName</key>
            <string>hallRes.png</string>
        </dict>
    </dict>
</plist>
