<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1 (1).jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1280,720}</string>
                <key>spriteSourceSize</key>
                <string>{1280,720}</string>
                <key>textureRect</key>
                <string>{{0,0},{1280,720}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1 (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{196,35}</string>
                <key>spriteSourceSize</key>
                <string>{196,35}</string>
                <key>textureRect</key>
                <string>{{1280,0},{196,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1 (15).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{433,652}</string>
                <key>spriteSourceSize</key>
                <string>{433,652}</string>
                <key>textureRect</key>
                <string>{{1476,0},{433,652}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1 (16).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{388,128}</string>
                <key>spriteSourceSize</key>
                <string>{388,128}</string>
                <key>textureRect</key>
                <string>{{0,720},{388,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1 (17).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{388,128}</string>
                <key>spriteSourceSize</key>
                <string>{388,128}</string>
                <key>textureRect</key>
                <string>{{388,720},{388,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1 (18).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,42}</string>
                <key>spriteSourceSize</key>
                <string>{48,42}</string>
                <key>textureRect</key>
                <string>{{776,720},{48,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1 (19).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{999,24}</string>
                <key>spriteSourceSize</key>
                <string>{999,24}</string>
                <key>textureRect</key>
                <string>{{824,720},{999,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1 (20).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{330,53}</string>
                <key>spriteSourceSize</key>
                <string>{330,53}</string>
                <key>textureRect</key>
                <string>{{0,848},{330,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1 (21).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{196,86}</string>
                <key>spriteSourceSize</key>
                <string>{196,86}</string>
                <key>textureRect</key>
                <string>{{330,848},{196,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1 (22).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,33}</string>
                <key>spriteSourceSize</key>
                <string>{123,33}</string>
                <key>textureRect</key>
                <string>{{526,848},{123,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1 (23).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,33}</string>
                <key>spriteSourceSize</key>
                <string>{155,33}</string>
                <key>textureRect</key>
                <string>{{649,848},{155,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1 (24).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{257,59}</string>
                <key>spriteSourceSize</key>
                <string>{257,59}</string>
                <key>textureRect</key>
                <string>{{804,848},{257,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1 (25).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{479,59}</string>
                <key>spriteSourceSize</key>
                <string>{479,59}</string>
                <key>textureRect</key>
                <string>{{1061,848},{479,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1 (26).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{196,36}</string>
                <key>spriteSourceSize</key>
                <string>{196,36}</string>
                <key>textureRect</key>
                <string>{{1540,848},{196,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1 (27).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{196,36}</string>
                <key>spriteSourceSize</key>
                <string>{196,36}</string>
                <key>textureRect</key>
                <string>{{1736,848},{196,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1 (28).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{592,52}</string>
                <key>spriteSourceSize</key>
                <string>{592,52}</string>
                <key>textureRect</key>
                <string>{{0,934},{592,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1 (29).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{592,52}</string>
                <key>spriteSourceSize</key>
                <string>{592,52}</string>
                <key>textureRect</key>
                <string>{{592,934},{592,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1 (30).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{592,52}</string>
                <key>spriteSourceSize</key>
                <string>{592,52}</string>
                <key>textureRect</key>
                <string>{{1184,934},{592,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1 (31).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,52}</string>
                <key>spriteSourceSize</key>
                <string>{38,52}</string>
                <key>textureRect</key>
                <string>{{1776,934},{38,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>loginRes.png</string>
            <key>size</key>
            <string>{1932,986}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c623f7cacc52838ccda64fd5f2f3ef6a:4772f233f6edf09beda7bc0d19a45461:fbc496312b2f620bbcab4fa2f733256d$</string>
            <key>textureFileName</key>
            <string>loginRes.png</string>
        </dict>
    </dict>
</plist>
