<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bar_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{555,70}</string>
                <key>spriteSourceSize</key>
                <string>{555,70}</string>
                <key>textureRect</key>
                <string>{{431,55},{555,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bar_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{531,38}</string>
                <key>spriteSourceSize</key>
                <string>{531,38}</string>
                <key>textureRect</key>
                <string>{{0,0},{531,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{802,559}</string>
                <key>spriteSourceSize</key>
                <string>{802,559}</string>
                <key>textureRect</key>
                <string>{{0,321},{802,559}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>check_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,63}</string>
                <key>spriteSourceSize</key>
                <string>{120,63}</string>
                <key>textureRect</key>
                <string>{{219,55},{120,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>check_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,63}</string>
                <key>spriteSourceSize</key>
                <string>{120,63}</string>
                <key>textureRect</key>
                <string>{{99,55},{120,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>check_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,71}</string>
                <key>spriteSourceSize</key>
                <string>{138,71}</string>
                <key>textureRect</key>
                <string>{{0,125},{138,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>close.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,77}</string>
                <key>spriteSourceSize</key>
                <string>{77,77}</string>
                <key>textureRect</key>
                <string>{{138,125},{77,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>exit_game.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{266,91}</string>
                <key>spriteSourceSize</key>
                <string>{266,91}</string>
                <key>textureRect</key>
                <string>{{564,125},{266,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>music.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,48}</string>
                <key>spriteSourceSize</key>
                <string>{48,48}</string>
                <key>textureRect</key>
                <string>{{579,0},{48,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>off.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,53}</string>
                <key>spriteSourceSize</key>
                <string>{116,53}</string>
                <key>textureRect</key>
                <string>{{678,0},{116,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>on.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,53}</string>
                <key>spriteSourceSize</key>
                <string>{110,53}</string>
                <key>textureRect</key>
                <string>{{794,0},{110,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>photo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,52}</string>
                <key>spriteSourceSize</key>
                <string>{51,52}</string>
                <key>textureRect</key>
                <string>{{627,0},{51,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>s_bg_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,55}</string>
                <key>spriteSourceSize</key>
                <string>{98,55}</string>
                <key>textureRect</key>
                <string>{{904,0},{98,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>s_bg_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,55}</string>
                <key>spriteSourceSize</key>
                <string>{99,55}</string>
                <key>textureRect</key>
                <string>{{0,55},{99,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>s_card_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,65}</string>
                <key>spriteSourceSize</key>
                <string>{46,65}</string>
                <key>textureRect</key>
                <string>{{339,55},{46,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>s_card_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,66}</string>
                <key>spriteSourceSize</key>
                <string>{46,66}</string>
                <key>textureRect</key>
                <string>{{385,55},{46,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slide_btn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,91}</string>
                <key>spriteSourceSize</key>
                <string>{83,91}</string>
                <key>textureRect</key>
                <string>{{481,125},{83,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sound.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,48}</string>
                <key>spriteSourceSize</key>
                <string>{48,48}</string>
                <key>textureRect</key>
                <string>{{531,0},{48,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>switch_account.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{266,91}</string>
                <key>spriteSourceSize</key>
                <string>{266,91}</string>
                <key>textureRect</key>
                <string>{{215,125},{266,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>title_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{498,105}</string>
                <key>spriteSourceSize</key>
                <string>{498,105}</string>
                <key>textureRect</key>
                <string>{{0,216},{498,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>setRes.png</string>
            <key>size</key>
            <string>{1002,880}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:64c23af3628bd8e5dd1de4cdaee4ed1f:36289d1390f5ee3126fd74d892f9d22c:911d0d7a47cda90bbee35c88e489392b$</string>
            <key>textureFileName</key>
            <string>setRes.png</string>
        </dict>
    </dict>
</plist>
