<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1 (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{216,228}</string>
                <key>spriteSourceSize</key>
                <string>{216,228}</string>
                <key>textureRect</key>
                <string>{{490,158},{216,228}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1 (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{216,85}</string>
                <key>spriteSourceSize</key>
                <string>{216,85}</string>
                <key>textureRect</key>
                <string>{{641,73},{216,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1 (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{264,264}</string>
                <key>spriteSourceSize</key>
                <string>{264,264}</string>
                <key>textureRect</key>
                <string>{{706,158},{264,264}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1 (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,113}</string>
                <key>spriteSourceSize</key>
                <string>{108,113}</string>
                <key>textureRect</key>
                <string>{{382,158},{108,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Btn_text_creat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,33}</string>
                <key>spriteSourceSize</key>
                <string>{132,33}</string>
                <key>textureRect</key>
                <string>{{194,0},{132,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Btn_text_free.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,33}</string>
                <key>spriteSourceSize</key>
                <string>{132,33}</string>
                <key>textureRect</key>
                <string>{{326,0},{132,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_options.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,68}</string>
                <key>spriteSourceSize</key>
                <string>{68,68}</string>
                <key>textureRect</key>
                <string>{{573,73},{68,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_tab.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{215,288}</string>
                <key>spriteSourceSize</key>
                <string>{215,288}</string>
                <key>textureRect</key>
                <string>{{0,422},{215,288}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dzpk.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,37}</string>
                <key>spriteSourceSize</key>
                <string>{140,37}</string>
                <key>textureRect</key>
                <string>{{0,73},{140,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gdmj.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{141,37}</string>
                <key>spriteSourceSize</key>
                <string>{141,37}</string>
                <key>textureRect</key>
                <string>{{818,36},{141,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_description.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{117,45}</string>
                <key>spriteSourceSize</key>
                <string>{117,45}</string>
                <key>textureRect</key>
                <string>{{282,73},{117,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_roomcard.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,26}</string>
                <key>spriteSourceSize</key>
                <string>{59,26}</string>
                <key>textureRect</key>
                <string>{{76,0},{59,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_roomcard_free.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,26}</string>
                <key>spriteSourceSize</key>
                <string>{59,26}</string>
                <key>textureRect</key>
                <string>{{135,0},{59,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_roomcard_free2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,2}</string>
                <key>spriteSourceSize</key>
                <string>{76,2}</string>
                <key>textureRect</key>
                <string>{{0,0},{76,2}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_tips.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,36}</string>
                <key>spriteSourceSize</key>
                <string>{43,36}</string>
                <key>textureRect</key>
                <string>{{713,0},{43,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>inviteFriend.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,437}</string>
                <key>spriteSourceSize</key>
                <string>{600,437}</string>
                <key>textureRect</key>
                <string>{{0,759},{600,437}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>inviteFriendBG.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{500,337}</string>
                <key>spriteSourceSize</key>
                <string>{500,337}</string>
                <key>textureRect</key>
                <string>{{215,422},{500,337}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jdddz.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{175,36}</string>
                <key>spriteSourceSize</key>
                <string>{175,36}</string>
                <key>textureRect</key>
                <string>{{538,0},{175,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mj.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,37}</string>
                <key>spriteSourceSize</key>
                <string>{73,37}</string>
                <key>textureRect</key>
                <string>{{391,36},{73,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>options_selected.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,35}</string>
                <key>spriteSourceSize</key>
                <string>{40,35}</string>
                <key>textureRect</key>
                <string>{{498,0},{40,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>options_unselected.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,35}</string>
                <key>spriteSourceSize</key>
                <string>{40,35}</string>
                <key>textureRect</key>
                <string>{{458,0},{40,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>phz.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,36}</string>
                <key>spriteSourceSize</key>
                <string>{107,36}</string>
                <key>textureRect</key>
                <string>{{860,0},{107,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sss.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,36}</string>
                <key>spriteSourceSize</key>
                <string>{104,36}</string>
                <key>textureRect</key>
                <string>{{756,0},{104,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tab_selected.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{191,92}</string>
                <key>spriteSourceSize</key>
                <string>{191,92}</string>
                <key>textureRect</key>
                <string>{{0,158},{191,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tab_selected_tuidaohu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,37}</string>
                <key>spriteSourceSize</key>
                <string>{107,37}</string>
                <key>textureRect</key>
                <string>{{284,36},{107,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tab_selected_xueliu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,37}</string>
                <key>spriteSourceSize</key>
                <string>{142,37}</string>
                <key>textureRect</key>
                <string>{{0,36},{142,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tab_selected_xuezhan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,37}</string>
                <key>spriteSourceSize</key>
                <string>{142,37}</string>
                <key>textureRect</key>
                <string>{{142,36},{142,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tab_unselected.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{191,92}</string>
                <key>spriteSourceSize</key>
                <string>{191,92}</string>
                <key>textureRect</key>
                <string>{{191,158},{191,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tab_unselected_tuidaohu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,37}</string>
                <key>spriteSourceSize</key>
                <string>{107,37}</string>
                <key>textureRect</key>
                <string>{{464,36},{107,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tab_unselected_xueliu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,37}</string>
                <key>spriteSourceSize</key>
                <string>{142,37}</string>
                <key>textureRect</key>
                <string>{{140,73},{142,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tab_unselected_xuezhan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,37}</string>
                <key>spriteSourceSize</key>
                <string>{142,37}</string>
                <key>textureRect</key>
                <string>{{676,36},{142,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{174,47}</string>
                <key>spriteSourceSize</key>
                <string>{174,47}</string>
                <key>textureRect</key>
                <string>{{399,73},{174,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zjh.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,37}</string>
                <key>spriteSourceSize</key>
                <string>{105,37}</string>
                <key>textureRect</key>
                <string>{{571,36},{105,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>createRoomRes.png</string>
            <key>size</key>
            <string>{970,1196}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:369f5cc237c46630873675e75ea22195:e6c0782d2427a6c6b62a5346cfb14a8e:0f51292956dc88d301e7f1948466e785$</string>
            <key>textureFileName</key>
            <string>createRoomRes.png</string>
        </dict>
    </dict>
</plist>
