<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1 (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{163,45}</string>
                <key>spriteSourceSize</key>
                <string>{163,45}</string>
                <key>textureRect</key>
                <string>{{518,0},{163,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1 (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{222,93}</string>
                <key>spriteSourceSize</key>
                <string>{222,93}</string>
                <key>textureRect</key>
                <string>{{1530,70},{222,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1 (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{163,44}</string>
                <key>spriteSourceSize</key>
                <string>{163,44}</string>
                <key>textureRect</key>
                <string>{{192,0},{163,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1 (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{222,93}</string>
                <key>spriteSourceSize</key>
                <string>{222,93}</string>
                <key>textureRect</key>
                <string>{{0,163},{222,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bar_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{244,77}</string>
                <key>spriteSourceSize</key>
                <string>{244,77}</string>
                <key>textureRect</key>
                <string>{{409,70},{244,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>battery_bar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,16}</string>
                <key>spriteSourceSize</key>
                <string>{34,16}</string>
                <key>textureRect</key>
                <string>{{0,0},{34,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>battery_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,26}</string>
                <key>spriteSourceSize</key>
                <string>{47,26}</string>
                <key>textureRect</key>
                <string>{{34,0},{47,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_chat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,82}</string>
                <key>spriteSourceSize</key>
                <string>{82,82}</string>
                <key>textureRect</key>
                <string>{{653,70},{82,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_invite.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{368,88}</string>
                <key>spriteSourceSize</key>
                <string>{368,88}</string>
                <key>textureRect</key>
                <string>{{1162,70},{368,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_more.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,82}</string>
                <key>spriteSourceSize</key>
                <string>{82,82}</string>
                <key>textureRect</key>
                <string>{{735,70},{82,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_ready.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{263,88}</string>
                <key>spriteSourceSize</key>
                <string>{263,88}</string>
                <key>textureRect</key>
                <string>{{899,70},{263,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_sonud.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,82}</string>
                <key>spriteSourceSize</key>
                <string>{82,82}</string>
                <key>textureRect</key>
                <string>{{817,70},{82,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cardBottom.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,73}</string>
                <key>spriteSourceSize</key>
                <string>{129,73}</string>
                <key>textureRect</key>
                <string>{{280,70},{129,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>continue.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{163,45}</string>
                <key>spriteSourceSize</key>
                <string>{163,45}</string>
                <key>textureRect</key>
                <string>{{355,0},{163,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ddz.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{281,57}</string>
                <key>spriteSourceSize</key>
                <string>{281,57}</string>
                <key>textureRect</key>
                <string>{{731,0},{281,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{419,68}</string>
                <key>spriteSourceSize</key>
                <string>{419,68}</string>
                <key>textureRect</key>
                <string>{{1012,0},{419,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>game_bg_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1280,720}</string>
                <key>spriteSourceSize</key>
                <string>{1280,720}</string>
                <key>textureRect</key>
                <string>{{510,163},{1280,720}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>game_bg_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1280,720}</string>
                <key>spriteSourceSize</key>
                <string>{1280,720}</string>
                <key>textureRect</key>
                <string>{{0,883},{1280,720}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>location_img.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,48}</string>
                <key>spriteSourceSize</key>
                <string>{50,48}</string>
                <key>textureRect</key>
                <string>{{681,0},{50,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>more_backToLobby.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,70}</string>
                <key>spriteSourceSize</key>
                <string>{140,70}</string>
                <key>textureRect</key>
                <string>{{1431,0},{140,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>more_bg1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,291}</string>
                <key>spriteSourceSize</key>
                <string>{144,291}</string>
                <key>textureRect</key>
                <string>{{366,163},{144,291}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>more_bg2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,291}</string>
                <key>spriteSourceSize</key>
                <string>{144,291}</string>
                <key>textureRect</key>
                <string>{{222,163},{144,291}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>more_dissolve.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,70}</string>
                <key>spriteSourceSize</key>
                <string>{140,70}</string>
                <key>textureRect</key>
                <string>{{140,70},{140,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>more_list.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,70}</string>
                <key>spriteSourceSize</key>
                <string>{140,70}</string>
                <key>textureRect</key>
                <string>{{0,70},{140,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>more_setting.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,70}</string>
                <key>spriteSourceSize</key>
                <string>{140,70}</string>
                <key>textureRect</key>
                <string>{{1571,0},{140,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wifi1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,29}</string>
                <key>spriteSourceSize</key>
                <string>{37,29}</string>
                <key>textureRect</key>
                <string>{{118,0},{37,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wifi2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,29}</string>
                <key>spriteSourceSize</key>
                <string>{37,29}</string>
                <key>textureRect</key>
                <string>{{155,0},{37,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wifi3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,29}</string>
                <key>spriteSourceSize</key>
                <string>{37,29}</string>
                <key>textureRect</key>
                <string>{{81,0},{37,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ddzGameRes.png</string>
            <key>size</key>
            <string>{1790,1603}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e358fe50f1332e7f17884494dbd9f1b2:0546208a72efa4fd4a78b4e51019f33d:8bbf384bdf6e9f306d28c29869b91944$</string>
            <key>textureFileName</key>
            <string>ddzGameRes.png</string>
        </dict>
    </dict>
</plist>
