<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>game_bg_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1280,720}</string>
                <key>spriteSourceSize</key>
                <string>{1280,720}</string>
                <key>textureRect</key>
                <string>{{0,0},{1280,720}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>game_bg_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1280,720}</string>
                <key>spriteSourceSize</key>
                <string>{1280,720}</string>
                <key>textureRect</key>
                <string>{{0,720},{1280,720}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>more_bg1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,291}</string>
                <key>spriteSourceSize</key>
                <string>{144,291}</string>
                <key>textureRect</key>
                <string>{{1280,720},{144,291}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>more_bg2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,291}</string>
                <key>spriteSourceSize</key>
                <string>{144,291}</string>
                <key>textureRect</key>
                <string>{{1424,720},{144,291}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wifi1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,29}</string>
                <key>spriteSourceSize</key>
                <string>{37,29}</string>
                <key>textureRect</key>
                <string>{{1568,720},{37,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wifi2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,29}</string>
                <key>spriteSourceSize</key>
                <string>{37,29}</string>
                <key>textureRect</key>
                <string>{{1605,720},{37,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wifi3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,29}</string>
                <key>spriteSourceSize</key>
                <string>{37,29}</string>
                <key>textureRect</key>
                <string>{{1642,720},{37,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ddzGame01Res.png</string>
            <key>size</key>
            <string>{1679,1440}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:77f7cd96d29954bfade33611ef9da967:3b534d5956434a28c04cfc578f552366:71f6d14e92464f1db6d4718cedc78e62$</string>
            <key>textureFileName</key>
            <string>ddzGame01Res.png</string>
        </dict>
    </dict>
</plist>
