<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bar_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{244,77}</string>
                <key>spriteSourceSize</key>
                <string>{244,77}</string>
                <key>textureRect</key>
                <string>{{0,0},{244,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>battery_bar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,16}</string>
                <key>spriteSourceSize</key>
                <string>{34,16}</string>
                <key>textureRect</key>
                <string>{{244,0},{34,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>battery_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,26}</string>
                <key>spriteSourceSize</key>
                <string>{47,26}</string>
                <key>textureRect</key>
                <string>{{278,0},{47,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_chat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,82}</string>
                <key>spriteSourceSize</key>
                <string>{82,82}</string>
                <key>textureRect</key>
                <string>{{325,0},{82,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_invite.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{368,88}</string>
                <key>spriteSourceSize</key>
                <string>{368,88}</string>
                <key>textureRect</key>
                <string>{{407,0},{368,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_more.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,82}</string>
                <key>spriteSourceSize</key>
                <string>{82,82}</string>
                <key>textureRect</key>
                <string>{{775,0},{82,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_sonud.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,82}</string>
                <key>spriteSourceSize</key>
                <string>{82,82}</string>
                <key>textureRect</key>
                <string>{{857,0},{82,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_start.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{263,88}</string>
                <key>spriteSourceSize</key>
                <string>{263,88}</string>
                <key>textureRect</key>
                <string>{{939,0},{263,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_start_d.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{263,88}</string>
                <key>spriteSourceSize</key>
                <string>{263,88}</string>
                <key>textureRect</key>
                <string>{{1202,0},{263,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cardBottom.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,73}</string>
                <key>spriteSourceSize</key>
                <string>{129,73}</string>
                <key>textureRect</key>
                <string>{{1465,0},{129,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ddz.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{281,57}</string>
                <key>spriteSourceSize</key>
                <string>{281,57}</string>
                <key>textureRect</key>
                <string>{{1594,0},{281,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{419,68}</string>
                <key>spriteSourceSize</key>
                <string>{419,68}</string>
                <key>textureRect</key>
                <string>{{0,88},{419,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>game_bg_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1280,720}</string>
                <key>spriteSourceSize</key>
                <string>{1280,720}</string>
                <key>textureRect</key>
                <string>{{419,88},{1280,720}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>game_bg_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1280,720}</string>
                <key>spriteSourceSize</key>
                <string>{1280,720}</string>
                <key>textureRect</key>
                <string>{{0,808},{1280,720}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>location_img.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,48}</string>
                <key>spriteSourceSize</key>
                <string>{50,48}</string>
                <key>textureRect</key>
                <string>{{1280,808},{50,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>more_backToLobby.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,70}</string>
                <key>spriteSourceSize</key>
                <string>{140,70}</string>
                <key>textureRect</key>
                <string>{{1330,808},{140,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>more_bg1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,291}</string>
                <key>spriteSourceSize</key>
                <string>{144,291}</string>
                <key>textureRect</key>
                <string>{{1470,808},{144,291}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>more_bg2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,291}</string>
                <key>spriteSourceSize</key>
                <string>{144,291}</string>
                <key>textureRect</key>
                <string>{{1614,808},{144,291}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>more_dissolve.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,70}</string>
                <key>spriteSourceSize</key>
                <string>{140,70}</string>
                <key>textureRect</key>
                <string>{{0,1528},{140,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>more_list.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,70}</string>
                <key>spriteSourceSize</key>
                <string>{140,70}</string>
                <key>textureRect</key>
                <string>{{140,1528},{140,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>more_setting.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,70}</string>
                <key>spriteSourceSize</key>
                <string>{140,70}</string>
                <key>textureRect</key>
                <string>{{280,1528},{140,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wifi1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,29}</string>
                <key>spriteSourceSize</key>
                <string>{37,29}</string>
                <key>textureRect</key>
                <string>{{420,1528},{37,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wifi2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,29}</string>
                <key>spriteSourceSize</key>
                <string>{37,29}</string>
                <key>textureRect</key>
                <string>{{457,1528},{37,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wifi3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,29}</string>
                <key>spriteSourceSize</key>
                <string>{37,29}</string>
                <key>textureRect</key>
                <string>{{494,1528},{37,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ddzGameRes.png</string>
            <key>size</key>
            <string>{1875,1598}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ed187baa320055fb8caa71a6e15fde4c:5b2a160b39b4dd0da27a8e440fa2cf3f:8bbf384bdf6e9f306d28c29869b91944$</string>
            <key>textureFileName</key>
            <string>ddzGameRes.png</string>
        </dict>
    </dict>
</plist>
