<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1 (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,81}</string>
                <key>spriteSourceSize</key>
                <string>{83,81}</string>
                <key>textureRect</key>
                <string>{{643,110},{83,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1 (10).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,81}</string>
                <key>spriteSourceSize</key>
                <string>{66,81}</string>
                <key>textureRect</key>
                <string>{{726,110},{66,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1 (11).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,107}</string>
                <key>spriteSourceSize</key>
                <string>{108,107}</string>
                <key>textureRect</key>
                <string>{{1380,193},{108,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1 (12).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{411,185}</string>
                <key>spriteSourceSize</key>
                <string>{411,185}</string>
                <key>textureRect</key>
                <string>{{334,342},{411,185}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1 (13).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{334,149}</string>
                <key>spriteSourceSize</key>
                <string>{334,149}</string>
                <key>textureRect</key>
                <string>{{1488,193},{334,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1 (14).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{435,198}</string>
                <key>spriteSourceSize</key>
                <string>{435,198}</string>
                <key>textureRect</key>
                <string>{{0,527},{435,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1 (15).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{334,149}</string>
                <key>spriteSourceSize</key>
                <string>{334,149}</string>
                <key>textureRect</key>
                <string>{{0,342},{334,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1 (16).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{411,185}</string>
                <key>spriteSourceSize</key>
                <string>{411,185}</string>
                <key>textureRect</key>
                <string>{{745,342},{411,185}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1 (17).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{411,185}</string>
                <key>spriteSourceSize</key>
                <string>{411,185}</string>
                <key>textureRect</key>
                <string>{{1156,342},{411,185}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1 (18).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,31}</string>
                <key>spriteSourceSize</key>
                <string>{148,31}</string>
                <key>textureRect</key>
                <string>{{363,0},{148,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1 (19).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{183,33}</string>
                <key>spriteSourceSize</key>
                <string>{183,33}</string>
                <key>textureRect</key>
                <string>{{511,0},{183,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1 (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1227,48}</string>
                <key>spriteSourceSize</key>
                <string>{1227,48}</string>
                <key>textureRect</key>
                <string>{{0,47},{1227,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1 (20).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{119,52}</string>
                <key>spriteSourceSize</key>
                <string>{119,52}</string>
                <key>textureRect</key>
                <string>{{1346,47},{119,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1 (21).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{332,75}</string>
                <key>spriteSourceSize</key>
                <string>{332,75}</string>
                <key>textureRect</key>
                <string>{{63,110},{332,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1 (22).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{119,52}</string>
                <key>spriteSourceSize</key>
                <string>{119,52}</string>
                <key>textureRect</key>
                <string>{{1465,47},{119,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1 (23).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{119,52}</string>
                <key>spriteSourceSize</key>
                <string>{119,52}</string>
                <key>textureRect</key>
                <string>{{1227,47},{119,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1 (24).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{771,41}</string>
                <key>spriteSourceSize</key>
                <string>{771,41}</string>
                <key>textureRect</key>
                <string>{{735,0},{771,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1 (25).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1280,83}</string>
                <key>spriteSourceSize</key>
                <string>{1280,83}</string>
                <key>textureRect</key>
                <string>{{0,193},{1280,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1 (26).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,47}</string>
                <key>spriteSourceSize</key>
                <string>{43,47}</string>
                <key>textureRect</key>
                <string>{{1506,0},{43,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1 (27).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{167,30}</string>
                <key>spriteSourceSize</key>
                <string>{167,30}</string>
                <key>textureRect</key>
                <string>{{196,0},{167,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1 (28).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,40}</string>
                <key>spriteSourceSize</key>
                <string>{41,40}</string>
                <key>textureRect</key>
                <string>{{694,0},{41,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1 (29).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,30}</string>
                <key>spriteSourceSize</key>
                <string>{152,30}</string>
                <key>textureRect</key>
                <string>{{44,0},{152,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1 (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,76}</string>
                <key>spriteSourceSize</key>
                <string>{61,76}</string>
                <key>textureRect</key>
                <string>{{395,110},{61,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1 (30).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,63}</string>
                <key>spriteSourceSize</key>
                <string>{63,63}</string>
                <key>textureRect</key>
                <string>{{1698,47},{63,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1 (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,78}</string>
                <key>spriteSourceSize</key>
                <string>{66,78}</string>
                <key>textureRect</key>
                <string>{{456,110},{66,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1 (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,15}</string>
                <key>spriteSourceSize</key>
                <string>{15,15}</string>
                <key>textureRect</key>
                <string>{{0,0},{15,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1 (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,94}</string>
                <key>spriteSourceSize</key>
                <string>{100,94}</string>
                <key>textureRect</key>
                <string>{{1280,193},{100,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1 (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,81}</string>
                <key>spriteSourceSize</key>
                <string>{60,81}</string>
                <key>textureRect</key>
                <string>{{583,110},{60,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1 (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,78}</string>
                <key>spriteSourceSize</key>
                <string>{61,78}</string>
                <key>textureRect</key>
                <string>{{522,110},{61,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1 (9).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,72}</string>
                <key>spriteSourceSize</key>
                <string>{63,72}</string>
                <key>textureRect</key>
                <string>{{0,110},{63,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1280,720}</string>
                <key>spriteSourceSize</key>
                <string>{1280,720}</string>
                <key>textureRect</key>
                <string>{{435,527},{1280,720}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_auth.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,83}</string>
                <key>spriteSourceSize</key>
                <string>{90,83}</string>
                <key>textureRect</key>
                <string>{{792,110},{90,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fkcz.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,56}</string>
                <key>spriteSourceSize</key>
                <string>{56,56}</string>
                <key>textureRect</key>
                <string>{{1642,47},{56,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gb.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,23}</string>
                <key>spriteSourceSize</key>
                <string>{29,23}</string>
                <key>textureRect</key>
                <string>{{15,0},{29,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zs.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,53}</string>
                <key>spriteSourceSize</key>
                <string>{58,53}</string>
                <key>textureRect</key>
                <string>{{1584,47},{58,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>hallRes.png</string>
            <key>size</key>
            <string>{1822,1247}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:601c7523b491302d205458edc9462c52:faa9cf305f4fe175bf60e418e7fdea90:c230efd0bda90914c51c0e9166c8e784$</string>
            <key>textureFileName</key>
            <string>hallRes.png</string>
        </dict>
    </dict>
</plist>
