<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Untrusteeship.png.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,89}</string>
                <key>spriteSourceSize</key>
                <string>{230,89}</string>
                <key>textureRect</key>
                <string>{{85,1333},{230,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_outCard.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{210,89}</string>
                <key>spriteSourceSize</key>
                <string>{210,89}</string>
                <key>textureRect</key>
                <string>{{0,0},{210,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_outCard_d.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{210,89}</string>
                <key>spriteSourceSize</key>
                <string>{210,89}</string>
                <key>textureRect</key>
                <string>{{210,0},{210,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_ready.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{263,88}</string>
                <key>spriteSourceSize</key>
                <string>{263,88}</string>
                <key>textureRect</key>
                <string>{{0,89},{263,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_tips.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{210,89}</string>
                <key>spriteSourceSize</key>
                <string>{210,89}</string>
                <key>textureRect</key>
                <string>{{263,89},{210,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_ybq.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{198,80}</string>
                <key>spriteSourceSize</key>
                <string>{198,80}</string>
                <key>textureRect</key>
                <string>{{0,178},{198,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>but_BJ.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{186,83}</string>
                <key>spriteSourceSize</key>
                <string>{186,83}</string>
                <key>textureRect</key>
                <string>{{198,178},{186,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>but_BJB.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{186,83}</string>
                <key>spriteSourceSize</key>
                <string>{186,83}</string>
                <key>textureRect</key>
                <string>{{0,261},{186,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>but_BQ.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{186,83}</string>
                <key>spriteSourceSize</key>
                <string>{186,83}</string>
                <key>textureRect</key>
                <string>{{186,261},{186,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>but_JB.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{186,83}</string>
                <key>spriteSourceSize</key>
                <string>{186,83}</string>
                <key>textureRect</key>
                <string>{{186,344},{186,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>but_JDZ.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{186,83}</string>
                <key>spriteSourceSize</key>
                <string>{186,83}</string>
                <key>textureRect</key>
                <string>{{0,427},{186,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>but_QDZ.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{186,83}</string>
                <key>spriteSourceSize</key>
                <string>{186,83}</string>
                <key>textureRect</key>
                <string>{{186,427},{186,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>but_buchu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{186,83}</string>
                <key>spriteSourceSize</key>
                <string>{186,83}</string>
                <key>textureRect</key>
                <string>{{0,344},{186,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>clock_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,82}</string>
                <key>spriteSourceSize</key>
                <string>{79,82}</string>
                <key>textureRect</key>
                <string>{{372,427},{79,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ddz_frame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,134}</string>
                <key>spriteSourceSize</key>
                <string>{129,134}</string>
                <key>textureRect</key>
                <string>{{0,510},{129,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dizhu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,56}</string>
                <key>spriteSourceSize</key>
                <string>{56,56}</string>
                <key>textureRect</key>
                <string>{{129,510},{56,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dz_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,152}</string>
                <key>spriteSourceSize</key>
                <string>{129,152}</string>
                <key>textureRect</key>
                <string>{{185,510},{129,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dz_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{174,155}</string>
                <key>spriteSourceSize</key>
                <string>{174,155}</string>
                <key>textureRect</key>
                <string>{{314,510},{174,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>g_notCall.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{186,83}</string>
                <key>spriteSourceSize</key>
                <string>{186,83}</string>
                <key>textureRect</key>
                <string>{{0,665},{186,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>g_score_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{186,83}</string>
                <key>spriteSourceSize</key>
                <string>{186,83}</string>
                <key>textureRect</key>
                <string>{{186,665},{186,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>g_score_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{186,83}</string>
                <key>spriteSourceSize</key>
                <string>{186,83}</string>
                <key>textureRect</key>
                <string>{{0,748},{186,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>g_score_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{186,83}</string>
                <key>spriteSourceSize</key>
                <string>{186,83}</string>
                <key>textureRect</key>
                <string>{{186,748},{186,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gold.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,30}</string>
                <key>spriteSourceSize</key>
                <string>{153,30}</string>
                <key>textureRect</key>
                <string>{{0,831},{153,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>imUserOffLine.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{117,69}</string>
                <key>spriteSourceSize</key>
                <string>{117,69}</string>
                <key>textureRect</key>
                <string>{{378,957},{117,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_banker.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,28}</string>
                <key>spriteSourceSize</key>
                <string>{52,28}</string>
                <key>textureRect</key>
                <string>{{153,831},{52,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_bdan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,69}</string>
                <key>spriteSourceSize</key>
                <string>{115,69}</string>
                <key>textureRect</key>
                <string>{{205,831},{115,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_jiabei.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,52}</string>
                <key>spriteSourceSize</key>
                <string>{105,52}</string>
                <key>textureRect</key>
                <string>{{320,831},{105,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>imgj_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,56}</string>
                <key>spriteSourceSize</key>
                <string>{105,56}</string>
                <key>textureRect</key>
                <string>{{0,900},{105,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>imgj_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,57}</string>
                <key>spriteSourceSize</key>
                <string>{158,57}</string>
                <key>textureRect</key>
                <string>{{105,900},{158,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>imgjb_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,57}</string>
                <key>spriteSourceSize</key>
                <string>{162,57}</string>
                <key>textureRect</key>
                <string>{{263,900},{162,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>imgjb_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{109,57}</string>
                <key>spriteSourceSize</key>
                <string>{109,57}</string>
                <key>textureRect</key>
                <string>{{0,957},{109,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>imgq_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{109,57}</string>
                <key>spriteSourceSize</key>
                <string>{109,57}</string>
                <key>textureRect</key>
                <string>{{109,957},{109,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>imgq_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,57}</string>
                <key>spriteSourceSize</key>
                <string>{160,57}</string>
                <key>textureRect</key>
                <string>{{218,957},{160,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>imv_sit.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,102}</string>
                <key>spriteSourceSize</key>
                <string>{105,102}</string>
                <key>textureRect</key>
                <string>{{0,1026},{105,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lose.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,80}</string>
                <key>spriteSourceSize</key>
                <string>{100,80}</string>
                <key>textureRect</key>
                <string>{{105,1026},{100,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>master.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,65}</string>
                <key>spriteSourceSize</key>
                <string>{37,65}</string>
                <key>textureRect</key>
                <string>{{205,1026},{37,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>nm_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,140}</string>
                <key>spriteSourceSize</key>
                <string>{138,140}</string>
                <key>textureRect</key>
                <string>{{242,1026},{138,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>nm_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,141}</string>
                <key>spriteSourceSize</key>
                <string>{131,141}</string>
                <key>textureRect</key>
                <string>{{380,1026},{131,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ready_img.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,64}</string>
                <key>spriteSourceSize</key>
                <string>{55,64}</string>
                <key>textureRect</key>
                <string>{{0,1167},{55,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>remaining_card.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,57}</string>
                <key>spriteSourceSize</key>
                <string>{44,57}</string>
                <key>textureRect</key>
                <string>{{55,1167},{44,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>score_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,57}</string>
                <key>spriteSourceSize</key>
                <string>{106,57}</string>
                <key>textureRect</key>
                <string>{{99,1167},{106,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>score_1 (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{186,83}</string>
                <key>spriteSourceSize</key>
                <string>{186,83}</string>
                <key>textureRect</key>
                <string>{{205,1167},{186,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>score_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,56}</string>
                <key>spriteSourceSize</key>
                <string>{82,56}</string>
                <key>textureRect</key>
                <string>{{391,1167},{82,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>score_2 (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{186,83}</string>
                <key>spriteSourceSize</key>
                <string>{186,83}</string>
                <key>textureRect</key>
                <string>{{0,1250},{186,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>score_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,56}</string>
                <key>spriteSourceSize</key>
                <string>{84,56}</string>
                <key>textureRect</key>
                <string>{{186,1250},{84,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>score_3 (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{186,83}</string>
                <key>spriteSourceSize</key>
                <string>{186,83}</string>
                <key>textureRect</key>
                <string>{{270,1250},{186,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>score_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,56}</string>
                <key>spriteSourceSize</key>
                <string>{85,56}</string>
                <key>textureRect</key>
                <string>{{0,1333},{85,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>win.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,80}</string>
                <key>spriteSourceSize</key>
                <string>{100,80}</string>
                <key>textureRect</key>
                <string>{{315,1333},{100,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>playerRes.png</string>
            <key>size</key>
            <string>{511,1422}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:baab9ea23f0de37e7c93dc34c067cbf1:4e89f98c4f9d7b344341ab29962eeda6:c262e761d2d01a47c1349a1340781457$</string>
            <key>textureFileName</key>
            <string>playerRes.png</string>
        </dict>
    </dict>
</plist>
