<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Untrusteeship.png.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,89}</string>
                <key>spriteSourceSize</key>
                <string>{230,89}</string>
                <key>textureRect</key>
                <string>{{618,423},{230,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_outCard.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{210,89}</string>
                <key>spriteSourceSize</key>
                <string>{210,89}</string>
                <key>textureRect</key>
                <string>{{408,423},{210,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_tips.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{210,89}</string>
                <key>spriteSourceSize</key>
                <string>{210,89}</string>
                <key>textureRect</key>
                <string>{{198,423},{210,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_ybq.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{198,80}</string>
                <key>spriteSourceSize</key>
                <string>{198,80}</string>
                <key>textureRect</key>
                <string>{{0,423},{198,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>but_BJ.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{186,83}</string>
                <key>spriteSourceSize</key>
                <string>{186,83}</string>
                <key>textureRect</key>
                <string>{{744,257},{186,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>but_BJB.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{186,83}</string>
                <key>spriteSourceSize</key>
                <string>{186,83}</string>
                <key>textureRect</key>
                <string>{{558,257},{186,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>but_BQ.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{186,83}</string>
                <key>spriteSourceSize</key>
                <string>{186,83}</string>
                <key>textureRect</key>
                <string>{{558,340},{186,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>but_JB.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{186,83}</string>
                <key>spriteSourceSize</key>
                <string>{186,83}</string>
                <key>textureRect</key>
                <string>{{744,340},{186,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>but_JDZ.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{186,83}</string>
                <key>spriteSourceSize</key>
                <string>{186,83}</string>
                <key>textureRect</key>
                <string>{{372,340},{186,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>but_QDZ.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{186,83}</string>
                <key>spriteSourceSize</key>
                <string>{186,83}</string>
                <key>textureRect</key>
                <string>{{186,340},{186,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>but_buchu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{186,83}</string>
                <key>spriteSourceSize</key>
                <string>{186,83}</string>
                <key>textureRect</key>
                <string>{{0,340},{186,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>clock_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,82}</string>
                <key>spriteSourceSize</key>
                <string>{79,82}</string>
                <key>textureRect</key>
                <string>{{244,0},{79,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ddz_frame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,134}</string>
                <key>spriteSourceSize</key>
                <string>{129,134}</string>
                <key>textureRect</key>
                <string>{{129,102},{129,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dizhu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,56}</string>
                <key>spriteSourceSize</key>
                <string>{56,56}</string>
                <key>textureRect</key>
                <string>{{188,0},{56,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dz_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,152}</string>
                <key>spriteSourceSize</key>
                <string>{129,152}</string>
                <key>textureRect</key>
                <string>{{0,102},{129,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dz_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{174,155}</string>
                <key>spriteSourceSize</key>
                <string>{174,155}</string>
                <key>textureRect</key>
                <string>{{680,102},{174,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gold.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,30}</string>
                <key>spriteSourceSize</key>
                <string>{153,30}</string>
                <key>textureRect</key>
                <string>{{527,102},{153,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>imUserOffLine.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{117,69}</string>
                <key>spriteSourceSize</key>
                <string>{117,69}</string>
                <key>textureRect</key>
                <string>{{848,0},{117,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_banker.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,28}</string>
                <key>spriteSourceSize</key>
                <string>{52,28}</string>
                <key>textureRect</key>
                <string>{{81,0},{52,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_bdan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,69}</string>
                <key>spriteSourceSize</key>
                <string>{115,69}</string>
                <key>textureRect</key>
                <string>{{733,0},{115,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_jiabei.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,52}</string>
                <key>spriteSourceSize</key>
                <string>{105,52}</string>
                <key>textureRect</key>
                <string>{{523,0},{105,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>imv_sit.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,102}</string>
                <key>spriteSourceSize</key>
                <string>{105,102}</string>
                <key>textureRect</key>
                <string>{{628,0},{105,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lose.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,80}</string>
                <key>spriteSourceSize</key>
                <string>{100,80}</string>
                <key>textureRect</key>
                <string>{{323,0},{100,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>master.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,65}</string>
                <key>spriteSourceSize</key>
                <string>{37,65}</string>
                <key>textureRect</key>
                <string>{{0,0},{37,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>nm_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,140}</string>
                <key>spriteSourceSize</key>
                <string>{138,140}</string>
                <key>textureRect</key>
                <string>{{389,102},{138,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>nm_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,141}</string>
                <key>spriteSourceSize</key>
                <string>{131,141}</string>
                <key>textureRect</key>
                <string>{{258,102},{131,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ready_img.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,64}</string>
                <key>spriteSourceSize</key>
                <string>{55,64}</string>
                <key>textureRect</key>
                <string>{{133,0},{55,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>remaining_card.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,57}</string>
                <key>spriteSourceSize</key>
                <string>{44,57}</string>
                <key>textureRect</key>
                <string>{{37,0},{44,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>score_1 (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{186,83}</string>
                <key>spriteSourceSize</key>
                <string>{186,83}</string>
                <key>textureRect</key>
                <string>{{0,257},{186,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>score_2 (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{186,83}</string>
                <key>spriteSourceSize</key>
                <string>{186,83}</string>
                <key>textureRect</key>
                <string>{{186,257},{186,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>score_3 (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{186,83}</string>
                <key>spriteSourceSize</key>
                <string>{186,83}</string>
                <key>textureRect</key>
                <string>{{372,257},{186,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>win.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,80}</string>
                <key>spriteSourceSize</key>
                <string>{100,80}</string>
                <key>textureRect</key>
                <string>{{423,0},{100,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>playerRes.png</string>
            <key>size</key>
            <string>{965,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7dee7104faabe34cd12b154cd2827543:2da7da03cbf1cce3c88555519f6739f2:c262e761d2d01a47c1349a1340781457$</string>
            <key>textureFileName</key>
            <string>playerRes.png</string>
        </dict>
    </dict>
</plist>
