<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>avter1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,102}</string>
                <key>spriteSourceSize</key>
                <string>{102,102}</string>
                <key>textureRect</key>
                <string>{{1081,0},{102,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>avter2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,102}</string>
                <key>spriteSourceSize</key>
                <string>{102,102}</string>
                <key>textureRect</key>
                <string>{{877,0},{102,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>avter3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,102}</string>
                <key>spriteSourceSize</key>
                <string>{102,102}</string>
                <key>textureRect</key>
                <string>{{979,0},{102,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bankruptcy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,49}</string>
                <key>spriteSourceSize</key>
                <string>{77,49}</string>
                <key>textureRect</key>
                <string>{{507,0},{77,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button_next.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,117}</string>
                <key>spriteSourceSize</key>
                <string>{120,117}</string>
                <key>textureRect</key>
                <string>{{1303,0},{120,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button_share.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,117}</string>
                <key>spriteSourceSize</key>
                <string>{120,117}</string>
                <key>textureRect</key>
                <string>{{1183,0},{120,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>coin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,39}</string>
                <key>spriteSourceSize</key>
                <string>{40,39}</string>
                <key>textureRect</key>
                <string>{{52,0},{40,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>continueButton.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,86}</string>
                <key>spriteSourceSize</key>
                <string>{192,86}</string>
                <key>textureRect</key>
                <string>{{1423,0},{192,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>end.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{644,102}</string>
                <key>spriteSourceSize</key>
                <string>{644,102}</string>
                <key>textureRect</key>
                <string>{{836,117},{644,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>flowBureau.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{539,180}</string>
                <key>spriteSourceSize</key>
                <string>{539,180}</string>
                <key>textureRect</key>
                <string>{{539,219},{539,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>home.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,30}</string>
                <key>spriteSourceSize</key>
                <string>{59,30}</string>
                <key>textureRect</key>
                <string>{{207,0},{59,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{91,68}</string>
                <key>spriteSourceSize</key>
                <string>{91,68}</string>
                <key>textureRect</key>
                <string>{{786,0},{91,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jiabei.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,31}</string>
                <key>spriteSourceSize</key>
                <string>{56,31}</string>
                <key>textureRect</key>
                <string>{{92,0},{56,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lose.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{539,180}</string>
                <key>spriteSourceSize</key>
                <string>{539,180}</string>
                <key>textureRect</key>
                <string>{{0,219},{539,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>loser.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{270,448}</string>
                <key>spriteSourceSize</key>
                <string>{270,448}</string>
                <key>textureRect</key>
                <string>{{1106,399},{270,448}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>master.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,28}</string>
                <key>spriteSourceSize</key>
                <string>{52,28}</string>
                <key>textureRect</key>
                <string>{{0,0},{52,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>nextDoor.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,30}</string>
                <key>spriteSourceSize</key>
                <string>{59,30}</string>
                <key>textureRect</key>
                <string>{{325,0},{59,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rightHome.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,30}</string>
                <key>spriteSourceSize</key>
                <string>{59,30}</string>
                <key>textureRect</key>
                <string>{{266,0},{59,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>selfLose.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{553,185}</string>
                <key>spriteSourceSize</key>
                <string>{553,185}</string>
                <key>textureRect</key>
                <string>{{0,399},{553,185}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>selfWin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{553,185}</string>
                <key>spriteSourceSize</key>
                <string>{553,185}</string>
                <key>textureRect</key>
                <string>{{553,399},{553,185}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shareButton.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,86}</string>
                <key>spriteSourceSize</key>
                <string>{192,86}</string>
                <key>textureRect</key>
                <string>{{0,117},{192,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>signle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,58}</string>
                <key>spriteSourceSize</key>
                <string>{50,58}</string>
                <key>textureRect</key>
                <string>{{384,0},{50,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{644,102}</string>
                <key>spriteSourceSize</key>
                <string>{644,102}</string>
                <key>textureRect</key>
                <string>{{192,117},{644,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>total1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{101,40}</string>
                <key>spriteSourceSize</key>
                <string>{101,40}</string>
                <key>textureRect</key>
                <string>{{584,0},{101,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>total2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{101,40}</string>
                <key>spriteSourceSize</key>
                <string>{101,40}</string>
                <key>textureRect</key>
                <string>{{685,0},{101,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>upperHouse.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,30}</string>
                <key>spriteSourceSize</key>
                <string>{59,30}</string>
                <key>textureRect</key>
                <string>{{148,0},{59,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>win.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{539,180}</string>
                <key>spriteSourceSize</key>
                <string>{539,180}</string>
                <key>textureRect</key>
                <string>{{1078,219},{539,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>winEffect.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,49}</string>
                <key>spriteSourceSize</key>
                <string>{73,49}</string>
                <key>textureRect</key>
                <string>{{434,0},{73,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>winner.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{270,448}</string>
                <key>spriteSourceSize</key>
                <string>{270,448}</string>
                <key>textureRect</key>
                <string>{{1376,399},{270,448}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>settlementRes.png</string>
            <key>size</key>
            <string>{1646,847}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:de67e62498654d3346caa03f6a34fe1e:3171080739c433f0cf296394eb93937f:a604b0cd3d6fefe993fc68884c8da1d8$</string>
            <key>textureFileName</key>
            <string>settlementRes.png</string>
        </dict>
    </dict>
</plist>
